@{
    ViewBag.Title = "Home Page";
}

<Carousel autoplay autoplay-speed="8000">
    <Carousel-item>
        <div class="demo-carousel">
            <img src="~/Content/images/page1.jpg" />
        </div>
    </Carousel-item>
    <Carousel-item>
        <div class="demo-carousel">
            <img src="~/Content/images/page2.jpg" />
        </div>
    </Carousel-item>
    <Carousel-item>
        <div class="demo-carousel">
            <img src="~/Content/images/page3.jpg" />
        </div>
    </Carousel-item>
    <Carousel-item>
        <div class="demo-carousel">
            <img src="~/Content/images/page4.jpg" />
        </div>
    </Carousel-item>
</Carousel>
@section scripts{
    <script src="~/Scripts/Biz/main.js"></script>
}